
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:100;
  display:none;
}
.button {
  
  border: none;
  color:goldenrod;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.reserved_btn {
  color:goldenrod; 
  width:revert;
  border: 2px solid red;
  /*background:url("../pic/1.png");*/
  background:transparent ;
}
.dinfo{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  letter-spacing: 1px;
}

.reserved_btn:hover {
  
  background-image: none;
  background-color: goldenrod !important; 
  border: none;
  color: black;
}

.alart-color{
color:red;
font-size: 25px;
}
.popup .content_2 {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:url("../pic/1.png");
  width:95%;
  max-width:500px;
  height:295px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content_2 {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
